SECRET=your-api-key-issuer-secret
DOMAIN=your.domain.com
ADDRESS=:42069
SERVE_ADDRESS=:3000
WITH_PPROF=true
PPROF_ADDRESS=:3001
WITH_OBSERVER=true
OBSERVER="otel"
WITH_PROM_EXPORTER=true
OBSERVER_ADDRESS=:3002
TEMPO_ADDRESS=:3003
COLLECTOR_ADDRESS=:3004

