[Unit]
Description=wormhole
After=network.target

[Service]
User=mrps
ExecStart=/opt/mrps/wormhole/wormhole start --pprof
Restart=never
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mrps

[Install]
WantedBy=multi-user.target
