[Unit]
Description=wormhole
After=network.target

[Service]
ExecStart=/opt/mrps/wormhole/wormhole start 
Restart=never
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mrps

[Install]
WantedBy=multi-user.target
